.about {
	min-height: 250px;
	background-color: #3a3e64;
	padding-top: 70px;
	padding-bottom: 110px;
	text-align: center;

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	&__block {
		display: flex;
		flex-direction: column;
		align-items: center;

		&:first-child {
			margin-left: 150px;
		}

		// бред
	}

	&__title {
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 700;
		margin-bottom: 20px;
		color: #fff;
	}

	&__text {
		color: #fff;
		font-size: 14px;
		font-weight: 400px;
		color: #9d9fb2;
	}
}